# Xcode
xcuserdata/
*.xcworkspace/contents.xcworkspacedata
*.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
project.xcworkspace/
xcshareddata/

# Build
build/
DerivedData/

# OS
.DS_Store

# Tooling
.claude/
